<div class="list-container">
  <h2 class="page-title">All Expenses</h2>

  <div class="expense-list">
    @for (e of expenses(); track e.id) {
      <div class="expense-card">
        <div class="expense-info">
          <h3 class="expense-title">{{ e.title }}</h3>
          <p class="expense-amount">${{ e.amount }}</p>
          <p class="expense-category">Category: {{ e.category }}</p>
        </div>

        <div class="expense-actions">
          <button class="edit-btn">Edit</button>
          <button class="delete-btn" (click)="deleteExpense(e.id)">Delete</button>
        </div>
      </div>
    }
  </div>
</div>
