<nav class="navbar navbar-expand navbar-light bg-light px-3 mb-3">
  <a class="navbar-brand fw-bold">Expense Tracker</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/add" routerLinkActive="active" class="nav-link">Add Expense</a>
    </li>
    <li class="nav-item">
      <a routerLink="/expenses" routerLinkActive="active" class="nav-link">Expenses</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
