<div class="add-container">
  <div class="add-card">
    <h2 class="title">Add Expense</h2>

    <form (ngSubmit)="addExpense()" class="form-layout">
      <div class="form-group">
        <label>Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="title"
          name="title"
          placeholder="Enter expense title"
        />
      </div>

      <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" [(ngModel)]="amount" name="amount" />
      </div>

      <div class="form-group">
        <label>Category</label>
      </div>
      <select class="form-control" [(ngModel)]="category" name="category">
        @for (c of categories(); track c) {
          <option [value]="c">{{ c }}</option>
        }
      </select>

      <button class="submit-btn" type="submit">Add Expense</button>
    </form>
  </div>
</div>
